@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* utilities  */

* {
    border: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}


/* end utilities  */


/* main section  */

main {
    text-align: center;
    width: 600px;
    height: 400px;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}


/* end main section  */


/* container section  */

.container {
    background-color: #f9fbfd;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0 30px;
    border-radius: 5px;
}


/* end of container section  */


/* password area  */

.password-area {
    background-color: #fff;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: #bfbfc733 0px 7px 29px 0px;
    border-radius: 5px;
    margin: 0 30px;
}

.password-area h3 {
    text-align: left;
    margin-left: 40px;
    position: relative;
    top: 20px;
}

.password-area input {
    height: 100px;
    border: 1px dotted #c2e0ff;
    text-align: center;
    margin: 20px 40px;
    border-radius: 5px;
}

.password-area hr {
    border-top: 1px solid red;
}


/* end password area  */


/* button styles  */

button {
    padding: 10px;
    color: white;
    background: #af1108;
    border-radius: 5px;
}


/* end button styles  */